---
layout: base
---

{% include header.html heading="Categories" lead="A category is about solving a particular problem or challenge. Each category has its own prizes and judging criteria. Hackers may participate in one or more categories." %}

{% assign released_cats = site.cats | where: "draft", false %}
{% assign released_cats_count = released_cats | size %}

{% if released_cats_count > 0 %}
{% include tabpanes.html panes=released_cats %}
{% else %}

<div class="content dcp">
	<div class="alert alert-info" role="alert">
		<span class="lead">The categories have not yet been announced. Stay tuned!</span>
	</div>
</div>

{% endif %}
