---
layout: base
title: Jury
---

{% include header.html heading='Jury' %}

{% assign released_jury = site.jury | where: "draft", false %}

{% if released_jury.size > 0 %}
{% for jury in released_jury %}

<section class="{% unless forloop.last %} border-bottom border-grey{% endunless %}">
    <div class="content dcp">
        <div class="row">
            <div class="col-12 col-md-3 mb-4 text-center">
                <img class="img-fluid" src="{{ jury.image }}" alt="{{ jury.name }}">
            </div>
            <div class="col-12 col-md-9 markdown text-justify">
                <h3>{{ jury.name }}</h3>
                {{ jury.content }}
            </div>
        </div>
    </div>
</section>

{% endfor %}
{% else %}
{% include comingsoon.html text="The jury has not yet been announced. Stay tuned!" %}
{% endif %}
