---
layout: base
title: Sponsors
---

{% include header.html heading='Sponsors' lead='A huge shout out to our generous sponsors and friends who make this event possible! Looking for a sponsor opportunity? Contact info@hackundsoehne.de' %}
{% assign shown_sponsors = site.data.sponsors | where: "show", true %}

{% if shown_sponsors.size > 0 %}
    {% assign platinum_sponsors = shown_sponsors | where:'kind', 'Platinum' %}
    {% assign premium_sponsors = shown_sponsors | where:'kind', 'Premium' %}
    {% assign basic_sponsors = shown_sponsors | where:'kind', 'Basic' %}
    {% assign friends = shown_sponsors | where:'kind', 'Friend' %}

    {% include sponsorboxes.html title='Platinum Sponsor' sponsors=platinum_sponsors %}
    {% include sponsorboxes.html title='Premium Sponsors' sponsors=premium_sponsors %}
    {% include sponsorboxes.html title='Basic Sponsors' sponsors=basic_sponsors %}
    {% include sponsorboxes.html title='Friends' sponsors=friends %}
{% else %}
{% include comingsoon.html text="Our sponsors have not yet been announced. Stay tuned!" %}
{% endif %}
