<div class="content dcp">
	<div class="alert border-grey" role="alert">
		<p class="lead">{{ include.text }}</p>
        <hr class="bg-grey">
        <p class="mb-0">Follow us on <a target="_blank" href="{{ site.instagram_link }}">Instagram</a>, <a target="_blank" href="{{ site.facebook_link }}">Facebook</a> or <a target="_blank" href="{{ site.twitter_link }}">Twitter</a> or <a href="{{ site.newsletter_link }}">subscribe to our newsletter</a>. That way you stay informed about Hacktival and other Hack &amp; Söhne events.</p>
	</div>
</div>
