@import "fontawesome/fontawesome";
@import "fontawesome/brands";
@import "fontawesome/regular";
@import "fontawesome/solid";

@font-face {
    font-family: "ocr-a-std";
    src:
      url("/assets/webfonts/ocr-a-std.woff2") format("woff2"),
      url("/assets/webfonts/ocr-a-std.woff") format("woff"),
      url("/assets/webfonts/ocr-a-std.otf") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 400;
}

$theme-colors: (
    "primary": #ffff33,
    "dark": #202020,
    "grey": #2F363D,
    "violet": #b392f0,
    "blue": #79b8ff,
    "green": #85e89d,
    "orange": #ffab70,
    "red": #f97583
);

$font-family-base: monospace;

$link-color: map-get($theme-colors, "dark");

$table-dark-bg: map-get($theme-colors, "primary");
$table-dark-border-color: map-get($theme-colors, "grey");

@import "bootstrap/bootstrap";

/* Shell */

$navbar-height: 57px;
$sidebar-width: 320px;

#navbar {
    height: $navbar-height;

    .navbar-toggler {
        color: map-get($theme-colors, "grey");
        border-color: map-get($map: $theme-colors, $key: "grey");
    }
}

#sidebar {
	z-index: $zindex-fixed;
	position: fixed;
    top: $navbar-height;
    left: 0;
    bottom: 0;
	width: 100%;

    @include media-breakpoint-up(lg) {
        top: 0;
        width: $sidebar-width;
    }
}

#sidebar .page-logo {
    font-family: "ocr-a-std";
    font-size: 2.5em;
    color: map-get($map: $theme-colors, $key: "dark");

    &:hover {
        text-decoration: none;
    }
}

#sidebar .nav-link {
    color: theme-color("dark");

    &.active, &:hover {
        text-decoration: underline;
    }
}

#wrapper {
    margin-top: $navbar-height;

    @include media-breakpoint-up(lg) {
        margin-top: 0;
        margin-left: $sidebar-width;
    }
}

/* Rulers */

hr {
    height: 0.5em;
    width: 2em;
    background-color: black;
    display: inline-block;
    border: none;
}

.cursor {
    width: 0.5em;
    height: 0.125em;
    display: inline-block;
    background: map-get($map: $theme-colors, $key: "dark");
    transition: 100ms all;
    animation-name: blink-animation;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes blink-animation {
    0% { opacity: 1 }
    25% { opacity: 1 }
    50% { opacity: 0 }
    75% { opacity: 1 }
}

/* Content and dynamic content padding */

.content {
    @include media-breakpoint-up(lg) {
        max-width: 900px;
    }
}

.hero {
    @include media-breakpoint-up(md) {
        min-height: 100vh;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: start;
    }
}

$dcp-directions: ("t": "top", "l": "left", "r": "right", "b": "bottom");

@each $os, $is in $dcp-directions {
    .dcp-#{$os} {
        padding-#{$is}: map-get($spacers, 3);

        @include media-breakpoint-up(md) {
            padding-#{$is}: map-get($spacers, 4);
        }

        @include media-breakpoint-up(lg) {
            padding-#{$is}: map-get($spacers, 5);
        }
    }
}

.dcp-x {
    @extend .dcp-l;
    @extend .dcp-r;
}

.dcp-y {
    @extend .dcp-t;
    @extend .dcp-b;
}

.dcp {
    @extend .dcp-x;
    @extend .dcp-y;
}

/* Markdown */

.markdown table {
	@extend .table;
	@extend .table-bordered;
	@extend .table-striped;
	@extend .table-dark;
}

.markdown img[src*="#responsive"] {
    @extend .img-fluid;
    @extend .mt-2;
}

/* Tablist */

.htv-tablist {
	.nav-link.active {
		background: theme-color("grey");
	}
}

/* Sponsors */

.sponsorbox {
    @extend .bg-white;
    @extend .dcp;

    a {
        @extend .d-block;
        @extend .mx-auto;
        @extend .text-center;
        max-width: 260px;
    }
}
