@import "fontawesome/fontawesome";
@import "fontawesome/brands";
@import "fontawesome/regular";
@import "fontawesome/solid";

$theme-colors: (
	"dark": #1b1f23,
	"grey": #2F363D,
	"violet": #b392f0,
	"blue": #79b8ff,
	"green": #85e89d,
	"orange": #ffab70,
	"red": #f97583,
	"yellow": #ffea7f
);

@import "bootstrap/bootstrap";

/* Wrapper */

.wrapper {
	@extend .container;
	margin-left: 0;
	padding: map-get($spacers, 2) map-get($spacers, 3);

	@include media-breakpoint-up(md) {
		padding: map-get($spacers, 4);
	}

	@include media-breakpoint-up(lg) {
		padding: map-get($spacers, 5);
	}
}

/* Sidebar */

#sidebar {
	position: absolute;
	width: 100%;
	height: 100%;

	.nav-link {
		color: theme-color("light");

		&.active, &:hover {
			color: theme-color("green") !important;
		}
	}
}

@include media-breakpoint-up(lg) {
	#sidebar {
		position: relative;
		flex: 0 0 320px;
	}
}